{% extends 'student/base.html' %}
{% block bodyblock %}
    <form action="/student/{{student.id}}/update/" method="post">
        {% csrf_token %}
        
        <input type="text" name="name" value="{{student.id}}"/>
        <input type="email" name="email" value="{{student.email}}"/>
        <input type="date" name="birthday" value="{{student.birthday|date:'Y-m-d'}}"/>
        <input type="int" name="age" value="{{student.age}}"/>
        <a href="student/read/">글 읽기</a>
        <input type="submit" value="Submit"/>
    </form>

{% endblock %}